<div class="table-responsive">
    <table class="table">
        {% if table_header %}
            <thead>
                <tr>
                    {% for cell in table_header %}
                        <th>{{ cell }}</th>
                    {% endfor %}
                </tr>
            </thead>
        {% endif %}
        <tbody>
            {% for row in table_data %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
